
<h1>Learn Magic from the Pros</h1>
<h2>I'm an illusionist, Michael.</h2>
<div class = "text-center" >
	<img src = "/assets/beeminder.png" alt = "beeminder logo" height="100" width="100"/>
	<%= link_to 'Check Budget', submit_path(1), :class => 'btn btn-danger btn-large' %>

</div>



